langchain==0.1.17
langchain-core==0.1.48 
langchain-community==0.0.36
chromadb==0.4.22
pypdf
tiktoken
# openai  # Optional, fallback
python-dotenv
llama-index
sqlite-utils
numpy==1.26.4
sentence-transformers==2.5.1
transformers==4.37.2
streamlit 
pydantic==1.10.14
evidently==0.3.2
